@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');
*{
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;

}

html{
    scroll-behavior: smooth;
}

/* SECTION INICIO */

.inicio{
    background: linear-gradient(rgba(0,0,0.3), rgba(0,0,0,.3)),
    
     url("file:///C:/Users/Eveeb/OneDrive/Escritorio/entregadeproyecto/images/portadasa.jpg");
     background-size: cover;
     background-position: center center;
     color: #fff;
}

.inicio .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}

.inicio .contenido-seccion header{
    padding: 30px;
}

/* MENU LATERAL */

.inicio .contenido-seccion header nav{
    position: fixed;
    margin-left: 60px;
    background-color: #940253;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
}

.inicio .contenido-seccion header nav a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}

/***********************************************/

.inicio .contenido-seccion header .logo{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Yellowtail";
    text-shadow: 0 0 35px #fff;
} 

.inicio .contenido-seccion header .logo .color{
    color: #940253;
    font-family: "Yellowtail";

}

.inicio.contenido-seccion header .nav-bar{
    position: fixed;
    background-color: #940253;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: 3s;

}


.inicio .contenido-seccion header .nav-bar:hover{
    box-shadow: 0 0 35px #fff;
}


 
.inicio .contenido-seccion .info{
    padding-bottom: 130px;
}



.inicio .contenido-seccion .info #nombre{
font-size: 3rem;
letter-spacing: 5px;
}

.inicio .contenido-seccion .info h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
}

.inicio .contenido-seccion .info .redes{
    margin: 20px 0;
}

.inicio .contenido-seccion .info a{
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #940253;
    border: 1px solid #940253;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transition: .3s;
}

.inicio .contenido-seccion .info a:hover{
    color: #fff;
    background-color: #940253;
    box-shadow: 0 0 20px #fff;
}

.inicio .contenido-seccion .foto{
    position: relative;

}

.inicio .contenido-seccion .foto img{
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid #940253;
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
}



/* ESTILOS GENERALES */

.titulo-seccion{
    font-family: "Yellowtail";
    font-size: 1.5rem;
}






/* SECCION SOBRE MI */

.sobremi{
    padding: 140px 0 100px 0;
    text-align: center;
}

.sobremi .contenido-seccion h3{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.sobremi .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}

.sobremi .contenido-seccion p{
    max-width: 700px;
    margin: auto;
    color: #666;
}

.sobremi .contenido-seccion .fila{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.sobremi .contenido-seccion .fila .col i{
    color: #940253;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #940253;
    line-height: 40px;
    border-radius: 50%;
}

.sobremi .contenido-seccion .fila .col span{
    display: block;
    font-weight: bold;
    margin: 8px 0;
}




.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #FFE7CC;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}



html{
    scroll-behavior: smooth;
}

/*SECCION HABILIDADES */



.skills{
    background: linear-gradient(rgba(0,0,0.3), rgba(0,0,0,.3)),
    
     url("file:///C:/Users/Eveeb/OneDrive/Escritorio/entregadeproyecto/images/portadas.jpg");
     background-size: cover;

     background-attachment: fixed;
     background-position: center center;
    

    
    padding: 50px 20px;
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
    
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color: #FFB100;


}
.skills .fila{
    display: flex;
}


.skill .spam{
    color: #FFB100;
    font-size: 20px;
}

.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
    color: #FFB100;

}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;

}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #bab9b9;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: #FFE7CC;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color:#FFB100;
    color: #fff;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 89%;}
}

.skills .skill .photoshop{
    width: 0%;
    animation: 2s photoshop forwards;
}
@keyframes photoshop {
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .wordpress{
    width: 0%;
    animation: 2s wordpress forwards;
}
@keyframes wordpress {
    0%{width: 0%;}
    100%{width: 81%;}
}

.skills .skill .drupal{
    width: 0%;
    animation: 2s drupal forwards;
}
@keyframes drupal {
    0%{width: 0%;}
    100%{width: 55%;}
}

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 99%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .proyect{
    width: 0%;
    animation: 2s proyect forwards;
}
@keyframes proyect {
    0%{width: 0%;}
    100%{width: 94%;}
}




/* SECCION PORTAFOLIO */


.portfolio{
    background-color: #fff;
    padding: 50px 20px;
}
.portfolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.portfolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portfolio .galeria .proyecto img{
    width: 100%;
    display: block;
    border-radius: 20px;
}

.portfolio .galeria .proyecto .especial{
    margin-top: 18px;
}
.portfolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #FFE7CC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.portfolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}





/* SECCION RESUMEN */

.resumen{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}

.resumen .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.resumen .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}

.resumen .contenido-seccion .info{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.resumen .contenido-seccion .info .col{
    width: 45%;
}

.resumen .contenido-seccion .info .col .titulo{
    display: inline-block;
    color: #940253;
    font-weight: bold;
    border: 3px solid #940253;
    padding: 10px;
}

.resumen .contenido-seccion .info .col table{
    margin-top: 30px;
    border-collapse: collapse;
}



.resumen .contenido-seccion .info .col table .datos{
    width: 40%;
    border-bottom: 1px solid #bab9b9;

}


.resumen .contenido-seccion .info .col table h4{
    margin-top: 10px;
}

.resumen .contenido-seccion .info .col table h3{
    font-size: 20px;
    margin-bottom: 5px;
}



.resumen .contenido-seccion .info .col table p{
    font-size: 14px;
}

.resumen .contenido-seccion .info .col table .promedio{
    display: block;
    color: #940253;
    margin-top: 10px;
    font-weight: bold;

}


.resumen .contenido-seccion .info .col table .descripcion{
    border-left: 1px solid #bab9b9;
    padding-left: 20px;

}



    /* SECCION CONTACTO */

    .contacto{
        background-color: #202020;
        padding: 140px 0 100px 0;
        color: #e6e6e6;
        text-align: center;
    }

.contacto .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px ;
}


.contacto .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}


.contacto .contenido-seccion .fila{
    display: flex;
    justify-content: space-around;

}

.contacto .contenido-seccion .fila .col{
    margin-top: 50px;
}

.contacto .contenido-seccion .fila .col h2{
    color: #940253;
}


#map{
    height: 200px;
    width: 320px;
    margin-top: 10px;
    margin-left: 100px;

}


